{
  "openapi": "3.0.1",
  "info": {
    "title": "Plumsail HelpDesk MS Flow connector v4",
    "description": "The API allows interact with Plumsail HelpDesk ticketing system. Visit https://plumsail.com/docs/help-desk-o365/v1.x/API/ms-flow.html for more information.",
    "contact": {
      "name": "Plumsail",
      "url": "https://plumsail.com/sharepoint-helpdesk",
      "email": "support@plumsail.com"
    },
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://helpdesk-services.plumsail.com"
    }
  ],
  "paths": {
    "/_flow/v4/Tickets": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Create a ticket",
        "description": "Creates new ticket and returns created ticket.",
        "operationId": "Tickets_Create",
        "requestBody": {
          "description": "Ticket model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketWrite"
              }
            }
          },
          "x-bodyName": "ticket"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get tickets",
        "description": "Get tickets list",
        "operationId": "Tickets_GetAll",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA $filter query option to restrict the entries returned",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$filter"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "An ODATA $orderBy query option for specifying the order of entries.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderBy"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An ODATA $top query option to select the first n items of the return set for return (default = 50, maximum = 100).",
            "schema": {
              "type": "integer"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$top"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "An ODATA $skiptoken query option to skip over items until the specified item is reached and return the rest.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$skiptoken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TicketRead"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Tickets/{id}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get a single ticket by list item Id",
        "description": "Gets a ticket by list item Id and returns it",
        "operationId": "Tickets_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "List item Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "List item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Tickets"
        ],
        "summary": "Update a ticket by list item Id",
        "description": "Gets a ticket by list item Id and updates it. Returns updated ticket.",
        "operationId": "Tickets_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "List item Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "List item Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "requestBody": {
          "description": "Ticket model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketWrite"
              }
            }
          },
          "x-bodyName": "ticket"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Tickets"
        ],
        "summary": "Delete a ticket by list item Id",
        "description": "Deletes ticket by list item Id.",
        "operationId": "Tickets_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "List item Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "List item Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Tickets/{id}/Attachments/{filename}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Download attachment by list item Id",
        "description": "Returns attachment file for specific ticket by its name, or returns error code",
        "operationId": "Tickets_DownloadAttachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "List item Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "List item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "Attachment Filename",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Attachment Filename",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "title": "Result file",
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Couldn't retrieve requested file"
          }
        }
      }
    },
    "/_flow/v4/Tickets/{ticketId}/Comments": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Create a comment by list item Id",
        "description": "Creates new comment for a ticket with specified list item Id and returns it.",
        "operationId": "Comments_Create",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "List item Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "List item Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "requestBody": {
          "description": "Comment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentWrite"
              }
            }
          },
          "x-bodyName": "comment"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get all comments for a ticket by list item Id",
        "description": "Gets all comments for a ticket with specified list item Id.",
        "operationId": "Comments_GetAll",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "List item Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "List item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA $filter query option to restrict the entries returned",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$filter"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "An ODATA $orderBy query option for specifying the order of entries.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentRead"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Tickets/{ticketId}/Comments/{id}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get a single comment by list item Id",
        "description": "Gets a comment by list item Id and returns it.",
        "operationId": "Comments_GetById",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "List item Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "List item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Comment Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Comment Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Tickets/tid('{id}')": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get a single ticket by Ticket Id",
        "description": "Gets a ticket by Ticket Id and returns it",
        "operationId": "Tickets_GetByTicketId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ticket Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Tickets"
        ],
        "summary": "Update a ticket by Ticket Id",
        "description": "Gets a ticket by Ticket Id and updates it. Returns updated ticket.",
        "operationId": "Tickets_UpdateByTicketId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ticket Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "requestBody": {
          "description": "Ticket model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketWrite"
              }
            }
          },
          "x-bodyName": "ticket"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Tickets"
        ],
        "summary": "Delete a ticket by Ticket Id",
        "description": "Deletes ticket by Ticket Id.",
        "operationId": "Tickets_DeleteByTicketId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ticket Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Tickets/tid('{id}')/Attachments/{filename}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Download attachment by Ticket Id",
        "description": "Returns attachment file for specific ticket by its name, or returns error code",
        "operationId": "Tickets_DownloadAttachmentByTicketId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ticket Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "Attachment Filename",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Attachment Filename",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Couldn't retrieve requested file"
          }
        }
      }
    },
    "/_flow/v4/Tickets/tid('{ticketId}')/Comments": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Create a comment by Ticket Id",
        "description": "Creates new comment for a ticket with specified Ticket Id and returns it.",
        "operationId": "Comments_CreateByTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Ticket Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "requestBody": {
          "description": "Comment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentWrite"
              }
            }
          },
          "x-bodyName": "comment"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get all comments for a ticket by Ticket Id",
        "description": "Gets all comments for a ticket with specified Ticket Id.",
        "operationId": "Comments_GetAllByTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Ticket Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA $filter query option to restrict the entries returned",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$filter"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "An ODATA $orderBy query option for specifying the order of entries.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentRead"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Tickets/tid('{ticketId}')/Comments/{id}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get a single comment by Ticket Id",
        "description": "Gets a comment by Ticket Id and returns it.",
        "operationId": "Comments_GetByTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Ticket Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Comment Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Comment Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts",
        "description": "Get contacts list",
        "operationId": "Contacts_GetAll",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA $filter query option to restrict the entries returned",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$filter"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "An ODATA $orderBy query option for specifying the order of entries.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderBy"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An ODATA $top query option to select the first n items of the return set for return (default = 50, maximum = 100).",
            "schema": {
              "type": "integer"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$top"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "An ODATA $skiptoken query option to skip over items until the specified item is reached and return the rest.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$skiptoken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactRead"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "description": "Creates new contact and returns it.",
        "operationId": "Contacts_Create",
        "parameters": [
          {
            "name": "updateIfExists",
            "in": "query",
            "description": "Update contact if it already exists",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-ms-summary": "Update Contact if exists"
          }
        ],
        "requestBody": {
          "description": "Contact model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactWrite"
              }
            }
          },
          "x-bodyName": "contact"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a single contact by Id",
        "description": "Gets a contact by Id and returns it.",
        "operationId": "Contacts_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Contact Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "Finds a contact by Id and updates it. Returns updated contact.",
        "operationId": "Contacts_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Contact Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "requestBody": {
          "description": "Contact model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactWrite"
              }
            }
          },
          "x-bodyName": "contact"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "description": "Deletes contact by Id",
        "operationId": "Contacts_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Contact Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Contacts/ByEmail/{email}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a single contact by Email",
        "description": "Gets a contact by email and returns it.",
        "operationId": "Contacts_GetByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Contact Email",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Contact Email",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact by Email",
        "description": "Finds a contact by email and updates it. Returns updated contact.",
        "operationId": "Contacts_UpdateByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Contact email",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Contact Email",
            "x-ms-url-encoding": "single"
          }
        ],
        "requestBody": {
          "description": "Contact model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactWrite"
              }
            }
          },
          "x-bodyName": "contact"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Organizations": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create an organization",
        "description": "Creates new item in Organizations list and return it",
        "operationId": "Organizations_Create",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationWrite"
              }
            }
          },
          "x-bodyName": "organization"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organizations",
        "description": "Get organizations list",
        "operationId": "Organizations_GetAll",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA $filter query option to restrict the entries returned",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$filter"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "An ODATA $orderBy query option for specifying the order of entries.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderBy"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An ODATA $top query option to select the first n items of the return set for return (default = 50, maximum = 100).",
            "schema": {
              "type": "integer"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$top"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "An ODATA $skiptoken query option to skip over items until the specified item is reached and return the rest.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$skiptoken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationRead"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Organizations/{id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get a single organization",
        "description": "Gets organization by Id and returns it",
        "operationId": "Organizations_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Organization Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update an organization",
        "description": "Gets an organization by Id and returns it.",
        "operationId": "Organizations_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Organization Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "requestBody": {
          "description": "Organization model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationWrite"
              }
            }
          },
          "x-bodyName": "organization"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete an organization",
        "description": "Deletes organization by Id.",
        "operationId": "Organizations_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Organization Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/_flow/v4/Organizations/ByTitle/{title}": {
      "put": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update an organization by title",
        "description": "Gets an organization by title and updates it. Returns updated organization.",
        "operationId": "Organizations_UpdateByTitle",
        "parameters": [
          {
            "name": "title",
            "in": "path",
            "description": "Organization title",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Organization title",
            "x-ms-url-encoding": "single"
          }
        ],
        "requestBody": {
          "description": "Organization model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationWrite"
              }
            }
          },
          "x-bodyName": "organization"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationRead"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get a single organization by title",
        "description": "Gets an organization by title and returns it.",
        "operationId": "Organizations_GetByTitle",
        "parameters": [
          {
            "name": "title",
            "in": "path",
            "description": "Organization title",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Organization title",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "An ODATA $select query option to specify which fields to return for a list item. You can use * to return all available fields.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "An ODATA $expand query option to specify that the request returns the values of lookups.",
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationRead"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete an organization by title",
        "description": "Deletes organization by title",
        "operationId": "Organizations_DeleteByTitle",
        "parameters": [
          {
            "name": "title",
            "in": "path",
            "description": "Organization title",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Organization title",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Assignee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Assignee ID"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Assignee Full Name"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Assignee Email"
          },
          "spUserId": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-ms-summary": "Assignee SPUserId"
          },
          "role": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Assignee Role"
          },
          "emailAlternate": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Assignee Alternate Email"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Assignee CustomFields",
            "description": "JSON string containing custom field values"
          }
        },
        "additionalProperties": false
      },
      "Attachment": {
        "required": [
          "attachmentContent",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string",
            "x-ms-summary": "Attachment File Name"
          },
          "attachmentContent": {
            "$ref": "#/components/schemas/FileContent"
          },
          "content": {
            "type": "string",
            "format": "byte",
            "nullable": true
          },
          "AttachmentContent": {
            "type": "string",
            "description": "File Content",
            "format": "binary"
          }
        },
        "additionalProperties": false
      },
      "Cc": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Cc ID"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Cc Full Name"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Cc Email"
          },
          "spUserId": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-ms-summary": "Cc SPUserId"
          },
          "role": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Cc Role"
          },
          "emailAlternate": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Cc Alternate Email"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Cc CustomFields",
            "description": "JSON string containing custom field values"
          }
        },
        "additionalProperties": false
      },
      "CommentRead": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Comment Body"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "x-ms-summary": "Comment Creation Date"
          },
          "fromEmail": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Comment Author Email"
          },
          "fromName": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Comment Author Name"
          },
          "messageId": {
            "type": "string",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Comment MessageId"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Comment ID"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Comment Custom Fields",
            "description": "JSON string containing custom field values"
          }
        },
        "additionalProperties": false
      },
      "CommentWrite": {
        "required": [
          "body",
          "fromEmail",
          "ticketId"
        ],
        "type": "object",
        "properties": {
          "updatedFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "body": {
            "minLength": 1,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Comment Body"
          },
          "fromEmail": {
            "minLength": 1,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Comment Author Email"
          },
          "messageId": {
            "type": "string",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Comment MessageId"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "nullable": true
          },
          "ticketId": {
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "important",
            "x-ms-summary": "Comment TicketId"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Comment Custom Fields",
            "description": "JSON string containing custom field values"
          },
          "__metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ContactRead": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Contact Full Name"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Contact Email"
          },
          "spUserId": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-ms-summary": "Contact SPUserId"
          },
          "role": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Contact Role"
          },
          "emailAlternate": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Contact Alternate Email"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Contact ID"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Contact Custom Fields",
            "description": "JSON string containing custom field values"
          }
        },
        "additionalProperties": false
      },
      "ContactWrite": {
        "required": [
          "email",
          "title"
        ],
        "type": "object",
        "properties": {
          "updatedFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "title": {
            "minLength": 1,
            "type": "string",
            "x-ms-summary": "Contact Name"
          },
          "email": {
            "minLength": 1,
            "type": "string",
            "format": "email",
            "x-ms-summary": "Contact Email"
          },
          "spUserId": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-ms-summary": "Contact SPUserId"
          },
          "role": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Contact Role"
          },
          "emailAlternate": {
            "type": "string",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Contact Alternate Email"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Contact Custom Fields",
            "description": "JSON string containing custom field values"
          },
          "__metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "FileContent": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "format": "byte",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrganizationRead": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Organization Title"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Organization ID"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Organization Custom Fields",
            "description": "JSON string containing custom field values"
          }
        },
        "additionalProperties": false
      },
      "OrganizationWrite": {
        "required": [
          "title"
        ],
        "type": "object",
        "properties": {
          "updatedFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "title": {
            "minLength": 1,
            "type": "string",
            "x-ms-summary": "Organization Title"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Organization Custom Fields",
            "description": "JSON string containing custom field values"
          },
          "__metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "Requester": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Requester ID"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Requester Full Name"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Requester Email"
          },
          "spUserId": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-ms-summary": "Requester SPUserId"
          },
          "role": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Requester Role"
          },
          "emailAlternate": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Requester Alternate Email"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Requester CustomFields",
            "description": "JSON string containing custom field values"
          }
        },
        "additionalProperties": false
      },
      "TagRead": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Tag Title"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Tag ID"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Tag Custom Fields",
            "description": "JSON string containing custom field values"
          }
        },
        "additionalProperties": false
      },
      "TicketRead": {
        "type": "object",
        "properties": {
          "ticketID": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Custom Ticket ID"
          },
          "subject": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Ticket Subject"
          },
          "requester": {
            "$ref": "#/components/schemas/Requester"
          },
          "assignedTo": {
            "$ref": "#/components/schemas/Assignee"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Ticket Status"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Ticket Category"
          },
          "priority": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Ticket Priority"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "x-ms-summary": "Ticket Due Date"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Ticket Creation Date"
          },
          "resolutionDate": {
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Ticket Resolution Date"
          },
          "cc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cc"
            },
            "nullable": true,
            "x-ms-summary": "Ticket Cc"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagRead"
            },
            "nullable": true,
            "x-ms-summary": "Ticket Tags"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "x-ms-summary": "Ticket Attachments"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Ticket ID"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Ticket Custom Fields",
            "description": "JSON string containing custom field values"
          }
        },
        "additionalProperties": false
      },
      "TicketWrite": {
        "required": [
          "body",
          "requesterEmail",
          "subject"
        ],
        "type": "object",
        "properties": {
          "updatedFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "subject": {
            "minLength": 1,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Subject"
          },
          "body": {
            "minLength": 1,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Body"
          },
          "requesterEmail": {
            "minLength": 1,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Ticket Requester Email"
          },
          "assignedToEmail": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Ticket Assignee Email or SharePoint Group Name"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Ticket Status"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Ticket Category"
          },
          "priority": {
            "type": "string",
            "nullable": true,
            "x-ms-summary": "Ticket Priority"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "x-ms-summary": "Ticket DueDate"
          },
          "ccEmails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "x-ms-summary": "Ticket Cc Emails"
          },
          "tagTitles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "x-ms-summary": "Ticket Tags Titles"
          },
          "supportChannel": {
            "type": "string",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Ticket SupportChannel"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "nullable": true,
            "x-ms-summary": "Ticket Attachments"
          },
          "customFields": {
            "type": "object",
            "nullable": true,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Ticket Custom Fields",
            "description": "JSON string containing custom field values"
          },
          "__metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "description": "API Key generated by HelpDesk",
        "name": "X-HD-ApiKey",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "apiKey": [ ]
    }
  ]
}